@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url(../imagenes/pexels-helena-lopes-708440.jpg)center;
    background-size: cover;
}

/*Imagen de fondo*/
.seleccion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}


.inicio{
    width: 100%;
    font-size: 3rem;
    font-weight: 300;
}
/*sector izquierdo logueo*/
.seleccion__Propiedades{
    display: flex;
    place-items: center;
    text-align: center;
    margin: 0 auto;
    transition: all 300ms ease-in-out;

}


.seleccion__Propiedades > h3 > a{
    font-size: 4rem;
    color: #000000;
    border: 3px solid #000000;
    text-decoration: none;
}

.seleccion__Propiedades:hover{
    cursor: pointer;
    transform:scale(1.3)  
}
