@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --color-title: #ffffffe8;
    --color-yellow: #CBFC01;
    --color-grey: #363636;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*==HEADER==*/
header{
    width: 100%;
    background: var(--color-grey);
}

/*=====MENU NAV=====*/
.nav{
    width: 100%;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    place-items: center;
}


.nav__logo > h1 >a{
    font-size: 1.2em;
    font-weight: 600;
    padding: 1.5em;
    text-decoration: none;
    color: var(--color-title);
}

/*====NAV MENU====*/
.nav__menu > ul{
    width: 100%;
}

.nav__menu > ul > li{
    display: inline-block;
    color: var(--color-title);
    padding: 1.2em;
    font-size: 1.1em;
}

/*====LOGUEO====*/

.nav__logueo > h4 > a{
    font-size: 1.2  em;
    border: 1px solid var(--color-yellow);
    border-radius: 10px;
    color: var(--color-grey);
    text-decoration: none;
    background: var(--color-yellow);
    margin: 2em;
    padding: .5em 1em;
}

.nav__logueo > h4 > a:hover{
    color: var(--color-title);
    background: var(--color-grey);
}


/*====CONTENIDO PRINCIPAL====*/

.hero{
    width: 100%;
    height: 100%;
    min-height: 600px;
    max-height: 800px;
    position: relative;
}

/*==SALUDO BIENVENIDA E IMAGEN*/

.hero__Saludo{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
}
/*==TEXTO==*/

.hero__Saludo__Texto{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 2em;
}

.hero__Saludo__1{
    font-weight: 400;
    font-size: 3em;
    color: var(--color-title);
    grid-column: 1/12;
    display: inline-block;
}

.hero__Saludo__2{
    font-weight: 400;
    font-size: 3em;
    color: var(--color-title);
    grid-column: 3/12;
}

.hero__Saludo__3{
    font-weight: 400;
    font-size: 3em;
    grid-column: 7/11;
    color: var(--color-yellow);
}

.hero__Img{
    width: 40%;
    height: 100%;
}

.hero__img__px{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}

/*=====CONTADOR=====*/

.hero__Contador{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;   
    background:#CBFC01   ; 
    bottom: 0px;
    position: absolute;
}

.contador__item{
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    align-items: center;
}

.seguidores{
    font-size: 1em;
    margin-left: .5em;
    font-weight: 400;
}
.cantidad{
    font-weight: 400;

}


/*=====SEGUNDA SECCION======*/

.nosotros{
    width: 100%;
    height: 100%;
    min-height: 600px;
    max-height: 800px;
    background: var(--color-grey);
}
.nosotros__Texto{
    width: 100%;
    height: 5rem;
    padding: 2em 1em;
    border-bottom: 1px solid var(--color-yellow);
}

.nosotros__Titulo{
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: 400;
    color: var(--color-yellow);
}

/*====CONTENIDO====*/
.nosotros__Contendido{
    width: 100%;
    height: 85%;
    display: flex;
    background: var(--color-grey);
}

.nosotros__imagen{
    width: 40%;
    height: 10%;
    padding-bottom: 1.5em;
    box-sizing: border-box;
}
.nosotros__imagen > img{
    width: 100%;
    height: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(10deg);
}

.nosotros__Chat{
    width: 60%;
    height: 80%;
    margin: 1em;
    background: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-radius: 8px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, .2);
    overflow: hidden;
}
.nosotros__burbujas{
    width: 90%;
}

.nosotros__Chat > p{
    width: 100%;
    height: 100%;

}

.nosotros__Chat__1{
    font-size: 1.5em;
    width: 100%;
    border-radius: 10px;
    background: rgba(202, 252, 1, 0.22);
    margin: 1em;
    padding: .5em;
    color: #ffffff;
}

.nosotros__Chat__2{
    font-size: 1.5em;
    width: 60%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.22);
    margin: 1em 0em;
    padding: .5em;
    float: right;
    right: 0px;
    text-decoration: none;
    color: #ffffff;
}

.nosotros__Valores{
    width: 100%;
    height: 100%;
    align-items: center;
    clip-path: polygon(5.6% 1.5%, 13.7% 6.3%, 34.3% 9%, 52.4% 10%, 100% 7.8%, 100% 99%, 0% 100%, 0% 0%);
    background: #CBFC01;  
}

.nosotros__Valores{
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
    overflow: hidden;
}

.nosotros__Empresas{
    color:var(--color-grey);
    font-size: 1.5em;
    padding: .2em;
    margin: .2em;
}
/*
/*==SECCIONES PRODÇUCTÇOS==*/

.productos{
    width: 100%;
    min-height: 600px;
    max-height: 800px;
    background: var(--color-grey);
}

/*==TITULO==*/
.productos__Titulo{
    width: 100%;
    min-height: 120px;
    max-height: 160px;
    border-bottom: 1px solid var(--color-yellow);
    padding: 1em;
}

.title__product{
    color: var(--color-yellow);
    font-size: 2em;
    font-weight: 400;
}
/*Seccion productos*/
.productos__Secciones{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    min-height: 480px;
    max-height: 640px;
}

.producots__Prestamos{
    width: 100%;
    height: 100%;
    display: flex;    
}

.txt{
    width: 60%;
    height: 20%;
    text-align: center;
    align-content: center;
    margin: auto;
}

.title__lend{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--color-title);
}

.img__lend{
    width: 40%;
    height: 100%;
    background-image: url(../imagenes/bolsa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.productos__tarjetas{
    width: 100%;
    height: 100%;
    display: flex;    
}
.img__Card{
    width: 40%;
    height: 100%;
    background-image: url(../imagenes/prestamo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.title__card{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--color-title);
}

.productos__criptos{
    width: 100%;
    height: 100%;
    display: flex; 
}

.img__Crypto{
    width: 40%;
    height: 100%;
    background-image: url(../imagenes/bitcoin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.title__crypto{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--color-title);
}

/*Ultima seccion Registrarse*/
.registarse{
    width: 100%;
    height: 20em;
    background: var(--color-grey);
    display: grid;
    grid-template-rows: repeat(3,1fr);
    overflow: hidden;
}

.circulo1{
    width: 20%;
    height: 150%;
    right: 0px;
    background: var(--color-yellow);
    border-radius: 100%;
    transform: translate(450%,-50%);
    
}

.circulo2{
    width: 20%;
    height: 150%;
    right: 0px;
    background: var(--color-yellow);
    border-radius: 100%;
    transform: translate(-40%,5%);
}

.texto__Registrarse__bg{
    width: 100%;
    text-align: center;
}
.texto__Rg{
    width: 50%;
    height: 100%;
    background: var(--color-yellow);
    margin: auto;
    border-radius: 5px;
}
.texto__Rg > h4{
    width: 100%;
    height: 50%;
    padding: 1em;
}
.texto__Rg > a{
    background: var(--color-grey);
    padding: .5em;
    color: var(--color-title);
    text-decoration: none;
    border-radius: 10px;
}


/*=====FOOTER=====*/

.footer__Index{
    width: 100%;
    height: 20em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: var(--color-grey);
}

.redes__Footer{
    width: 100%;
    height: 100%;
    padding: .5em;
    
}
.redes__datos{
    width: 100%;
    height: 60%;
    
    border-right: 1px solid var(--color-title);
}
.links__Footer{
    width: 100%;
    height: 100%;
    padding: .5em;
}
.links__Datos{
    width: 100%;
    height: 60%;
    border-right: 1px solid var(--color-title);
}

.telefonos__Footer{
    width: 100%;
    height: 100%;
    padding: .5em;
}
.telefonos__Datos{
    width: 100%;
    height: 60%;
}

.info__Footer{
    width: 100%;
    height: 100%;
    padding: .5em;
    text-align: center;
}
.info__Footer>p{
color: var(--color-title);
padding: 1em;
}
.textos__Footer{
    color: var(--color-title);
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    width: 100%;
    height: 20%;
}
.links{
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.links__Footer{
    color: var(--color-title);
    text-decoration: none;
}

.envio__info{
    text-align: center;
}
.button__info{
    background: var(--color-yellow);
    border: none;
    font-size: .9em;
    border: 1px solid var(--color-yellow);
    border-radius: 1px;
    color: var(--color-grey);

}